@model Dictionary<string, Congratulation> 
@{
    ViewData["Title"] = "Home Page";
}

    <div class="uk-column-1-1@s uk-column-1-2@m uk-column-1-3@l uk-width-medium@s uk-width-xlarge@m">
        @foreach (Congratulation con in Model.Values.Take(6))
        {
            <div class="uk-margin-medium">
                <ul class="uk-thumbnav"><li><a uk-toggle="target: #modDialog" asp-action="Congratulation" asp-route-id="@con.Id" class="congrItem"><img src="@con.Photo" class="uk-height-medium@l uk-height-large@m uk-width-medium"></a></li></ul>
            </div>
        }
        <div class="uk-margin-medium uk-column-span">
            <ul class="uk-thumbnav"><li><a uk-toggle="target: #modDialog" asp-action="Congratulation" asp-route-id="@Model["all"].Id" class="congrItem"><img src="@Model["all"].Photo" class="uk-width-expand"></a></li></ul>
        </div>
    </div>

<div id="modDialog" uk-modal>
    <div id="dialogContent" class="uk-modal-dialog uk-margin-auto-vertical"></div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".congrItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    console.log(data);
                    $('#dialogContent').html(data);
                    //$('#modDialog').modal('show');
                });
            });
        })
    </script>
}